<%- include('header'); -%>
   <main class="main">
        <section class="hero-section">
            <h1>Welcome to the NodeJs Blog</h1>
        </section>
        <section class="blog-posts">
        <% posts.forEach(function(post){ %>
            <div class="blog">
                <h1 class="post-title"><%=post.title%></h1>
                <p><small>Authored by:<%=post.author%></small></p><hr>
                <div class="post-body">
                    <p><%=post.body.substring(0, 150)%></p>
                </div>
                <a href="/post/<%= post._id %>" class="read-more">Read more...</a>
            </div>
            <% }); %>
           
        </section>
           <ul>
          
          </ul>
   </main>

<%- include('footer'); -%>